@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
  background: transparent;
  height: 80px;
  transition: all .3s;
}

.navbarActive {
  background: white;
  height: 60px;
  filter: drop-shadow(5px 0 19px rgb(0, 0, 0, .2));
  transition: all .3s;
}

.logo {
  width: 200px;
  height: 100%;
  transition: all .5s;
}

.logoActive {
  width: 150px;
  height: 100%;
  transition: all .3s;
}

.link {
  font-weight: 900;
  padding: 10px;
  margin: 0 10px;
  color: #2e2e2e;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: rgb(87, 87, 87);
  transition: left .8s;
}

.link:hover:after {
  left: 0;
}

.active {
  background: rgb(206, 206, 206);
  color: white;
  transition: all .5s;
}

.icono {
  color: white;
  font-size: 17px;
  margin-right: 10px;
}

.horizontal__slide__n7j24.horizontal__current__1QWIw {
  height: 500px;
  background-color: blue;
}

.container2 {
  width: 100%;
  /* background: #419be0; */
  margin: 80px 0;
  
}

.slick-slide img {
  margin: auto;
}

.slick-prev{
  left: 0;
}

.slick-next{
  right: 22px;
}

.slick-prev, .slick-next {
  z-index: 3;
  position: absolute;
}

.slick-prev:before {
  left: 0;

}

.slick-next:before, .slick-prev:before {
  font-size: 40px;
  color: white;
  z-index: 1;
}

@media (max-width: 768px) {
  .slick-next:before, .slick-prev:before {
  }

  .slick-prev:before {
  }
}

.tituloCarousel {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
}

.img {
  transition: all .2s;
}

.containerImg:hover img {
  transform: scale(1.2);
  cursor: pointer;
  transition: all .2s;
}

.containerAct .tituloAct{
  opacity: 0;
  transition: all .4s;
}

.containerAct:hover .tituloAct {
  opacity: 100%;
  transition: all .4s;
}

.containerAct:hover .imgAct {
  background-color: rgba(0,0,0,1);
}

.containerBg {
  background: white;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, .2));
  padding: 20px;
}

